.superNav {
    position: absolute;
    font-size: 15px;
    width: 98.4%;
    height: 7%;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }
}

.nav1 {
    font-family: courier, arial, helvetica;
}

.navAll {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #25292a;
    margin: 0px 0px 10px 0px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
} */

/* h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
    line-height: 38px;
}

h3 {
    font-size: 22px;
    line-height: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 20px;
    line-height: 1.7;
}

p:last-child {
    margin: 0px;
}

ul,
ol {}

a {
    text-decoration: none;
    color: #8d8f90;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #f85759;
} */



.page-header {
    background: url(https://static.gigabyte.com/StaticFile/Image/Global/318275f385f70b115f765392ef405dc5/PromotionBanner/276)no-repeat center;
    position: relative;
    background-size: 100% 100%;
}

.page-caption {
    padding-top: 170px;
    padding-bottom: 174px;
}

.page-title {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.card-section {
    position: relative;
    bottom: 50px;
}

.section-title {
    margin-bottom: 60px;
}