footer .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
footer{
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/patterns/pattern-2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
footer .main .search>*{
    display: flex;
    justify-content: center;
}
footer .main .search .section-search>*{
    display: flex;
    justify-content: space-between;
}

footer .main .end{
    border-top: 1px solid rgba(255,255,255,.3);
}